.createForm {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2rem;
  padding: 1rem;
  background-color: rgb(175, 175, 175);
  opacity: 0.9;
  border-radius: 10px;
  align-items: center;
}
.createForm label {
  align-self: flex-start;
  padding: 0.3rem;
  font-size: large;
}
.createForm input,
.createForm textarea {
  width: 90%;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
.createForm textarea {
  resize: none;
  height: fit-content;
}
.createForm button {
  width: 60%;
  background-color: rgb(96, 96, 96);
  height: 3rem;
  border-radius: 10px;
  color: aliceblue;
  font-size: larger;
  opacity: 0.6;
  cursor: pointer;
}
.createForm button:is(:hover, :active) {
  opacity: 0.8;
}
