.postArticle {
  width: 60%;
  background-color: rgb(175, 175, 175);
  opacity: 0.9;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
  position: relative;
  box-shadow: 5px 5px 5px black;
}
.postLink {
  text-decoration: none;
}
.postLink h2,
.singleTitle {
  padding-right: 1.5rem;
  color: black;
  font-size: 2rem;
  margin-bottom: 0.3rem;
  word-wrap: break-word;
}
.postLink p,
.singleDate {
  color: rgb(65, 65, 65);
  font-size: 0.7rem;
  padding-bottom: 0.7rem;
}
.postArticle p,
.singleBody {
  word-wrap: break-word;
}
.singleBody {
  margin-bottom: 2rem;
  margin-right: 2rem;
}
.deleteBtn,
.editBtn {
  width: 2.5rem;
  height: auto;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}
.deleteBtn {
  position: absolute;
  bottom: 0.3rem;
  right: 0.3rem;
}
.deleteBtn img,
.editBtn img {
  width: 100%;
  opacity: 0.5;
}
.deleteBtn img:is(:hover, :active),
.editBtn img:is(:hover, :active) {
  width: 100%;
  opacity: 0.7;
}
.editBtn {
  width: 2rem;
  top: 0.3rem;
  right: 0.3rem;
  position: absolute;
}
.homeBtn {
  width: 20%;
  background-color: rgb(79, 79, 79);
  color: aliceblue;
  font-size: large;
  text-decoration: none;
  padding: 1rem 0 1rem 0;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
}
.homeBtn:hover {
  background-color: rgb(107, 107, 107);
}
